/*-- style the header  */
.header { 
    padding: 80px;
    text-align: center;
    /* background: url('Galaxy1.jpg'); */
    /* background-size: 100%; */
    color: white;
  }
    
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 40px;
  }
  .header p {
    font-size: 25px;
  }
  
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden; /* Hide overflow */
    background-color:rgba(49, 14, 99, 0.752); /* Dark background color */
  }
  
  
  /* Style the navigation bar links */
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    font-size: 20px;
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
  }
    
  /* Right-aligned link */
  .navbar a.right {
    float: right; /* Float a link to the right */
  }
  
  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
  }
  