

<div class="header" id = "header"> <!-- This creates a new section -->
    <h1>Rosie Braunholtz </h1>

    <p>MSc Astrophysics</p>

    <!-- ######### Navigation Bar ######## -->
</div>
<div class="section-wrapper">    
    <div class="navbar" id = "navbar"> 
    <a href="index.html"> Home </a>
    <a href="aboutme.html"> About Me </a>
    <a href="work.html">Work Experience</a>
    <a href="projects.html">Projects</a>
    <a href="contact.html" class="right">Contact</a>
    </div>

</div>


  
