
<div class="header-wrapper">    

    <div class="header" id = "header">
        <h1>Rosie Braunholtz </h1>

        <p>MSc Astrophysics</p>

    
    </div>

    <!-- ######### Navigation Bar ######## -->
    <div class="navbar" id = "navbar"> 
    <a href="index.html"> Home </a>
    <a href="aboutme.html"> About Me </a>
    <a href="work.html">Work Experience</a>
    <a href="projects.html">Projects</a>
    <a href="contact.html" class="right">Contact</a>
    <a href="https://rosiebraunholtz.github.io/Blog/" >Blog</a>

    </div>

</div>


  
